<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   
   <extension
         point="org.eclipse.sirius.server.siriusServerConfigurator">
      <descriptor
            class="fr.cea.nabla.web.internal.server.lsp.NabLaLSPServerConfigurator"
            id="fr.cea.nabla.web.backend.internal.NabLaLSPServerConfigurator">
      </descriptor>
   </extension>
      <extension
         id="org.eclipse.sirius.server.frontend.SiriusServerFrontendConfigurator"
         name="%SiriusServerFrontendConfigurator_label"
         point="org.eclipse.sirius.server.siriusServerConfigurator">
      <descriptor
            class="fr.cea.nabla.web.internal.SiriusServerFrontendConfigurator"
            description=""
            id="fr.cea.nabla.web.SiriusServerFrontendConfigurator"
            label="Front-end Server">
      </descriptor>
   </extension>
</plugin>
